body{
  text-align: center;
  margin: 0;
  font-family: 'Exo', sans-serif;
}
.top-container{
  background-color: #b2fcff;
  margin: 0;
}
h1{
  width: 30%;
  margin: auto;
  padding-top: 100px;
  font-family: 'Baloo Chettan', cursive;
  font-size: 90px;
  color: #293462;
}
h2{
  color: #293462;
  margin: 0;
  padding: 20px;
}
hr{
    border-color: #63707e;
    border-style: none;
    border-top-style: dotted;
    border-width: 12px;
    width: 5%;
    margin-top: 0;
    margin-bottom: 40px;

}
a{
  margin: 13px;
  text-decoration: none;
  font-size: 19px;
}
a:hover{
  color: white;
}
.city{
  width: 75%;
}
.cloud1{
  position: absolute;
  left: 200px;
  top: -10px;
}
.cloud2{
  position: absolute;
  right:  200px;
  top: -60px;
}
.foto{
  height: 200px;
  width: 200px;
  border-radius: 100%;

}
.middle-container{
  background-color: #ecfcff;
}
.profile{
  width: 50%;
  margin: auto;
  padding: 90px;

}
.skills{
  background-color: #ecfcff;
  padding-bottom: 90px;
}
.skill-row{
  width: 50%;
  padding: 30px;
  margin: auto;
  text-align: left;
}

.tela{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}
.team{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  float: right;
  margin-left: 20px;
  margin-top: 40px;
}
.contact-me{
  background-color: #ecfcff;
  margin: 0;
  padding-bottom: 40px;
}
.copyright{
  color: white;
  font-size: 13px;
}
.bottom-container{
  background-color: #12d3cf;
  padding-top: 40px;

}
.bottom-container p{
  margin: 0;
  padding-top: 20px;
}
.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Exo', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
