body{
  text-align: center;
  margin: 0;
  font-family: 'Exo', sans-serif;
}
.top-container{
  background-color: #beeef7;
  margin: 0;
}
h1{
  width: 30%;
  margin: auto;
  padding-top: 100px;
  font-family: 'Baloo Chettan', cursive;
}
.city{
  width: 75%;
}
.cloud1{
  position: absolute;
  left: 200px;
  top: -10px;
}
.cloud2{
  position: absolute;
  right:  200px;
  top: -60px;
}

.profile img{
  border-radius: 100%;
  height: 200px;
  padding: 20px;
}
.profile p{
  margin-bottom: 0;
  padding: 20px;
}
.profile {
  background-color: #6fc2d0;
}
.skills{
  background-color: #67eaca;
  margin: 0;
}
.skills h2{
  margin-top: 0;
  padding: 10px;
}

.skill-row video{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: black;
}
.skill-row p{
  padding: 20px;
  margin: 0;
}
.skill-row img{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: white;
}
.contact-me h2{
  margin: 0;
  padding: 20px;
}
.contact-me{
  background-color: #b0f4e6;
  margin: 0;
}
.bottom-container{
  background-color: #12d3cf;
}
.bottom-container p{
  margin: 0;
  padding: 20px;
}
